<div class="new-challenge-btn">
  <a class="button is-primary is-rounded is-medium" id="fab" href="/new-challenge">New Challenge</a>
</div>
<div class="container">
  <div class="columns">
    {{#each Challenge}}
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{image}}"/>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <div class="title-points">
                  <p class="title is-4 challenge-title">{{challenge_name}}</p>
                  <div class="points">
                    <p class="title is-4 challenge-points">{{points}}</p>
                  </div>
                </div>
                <a class="button is-primary is-medium" id="showModal-{{id}}">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="modal-{{id}}">
        <!-- need to put the challenge ID here -->
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">{{challenge_name}}</p>
            <button class="delete" aria-label="close" id="close-{{id}}"></button>
          </header>
          <section class="modal-card-body">
            <h1 class="title">Points:{{points}}</h1>
            <h2 class="subtitle">{{location}}</h2>
            <p>Description:</p>
            <p>{{description}}<p>
            <h1 class="title">Users:</h1>
            {{#each Users}}
              <p class="title is-4 challenge-title">{{name}}</p>
            {{/each}}
          </section>
          <footer class="modal-card-foot">
            <!-- <div class="field">
              <div class="control">
                <div class="select is-medium">
                  <select id="choose-user">
                    {{#each Users}}
                    <option>{{name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
            </div> -->
            <button class="challengeComplete button is-primary is-medium complete-challenge" data-post="{{id}}">Complete</button>
            <!-- need to write some js to make this complete button work for each modal -->
          </footer>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script>
{{#each Challenge}}
    $("#showModal-{{id}}").click(function() {
      $("#modal-{{id}}").addClass("is-active");
    });
{{/each}}
    $(".delete").click(function() {
       $(".modal").removeClass("is-active");
    });

    $(".complete-challenge").click(function() {
       $(".modal").removeClass("is-active");
    });
</script>
<script src="js/challenge.js" type="text/javascript"></script>
